<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Sneakers</title>
</head>

<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <img src="./img/sneakers.png" alt="">
            </div>
            <div class="navItem">
                <span class="limitedOffer">CART</span>
            </div>
            <div class="nav-item dropdown" style="text-decoration: none;">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <a href="/product" class="dropdown-item"><span class="menuItem">Product (Admin)</span></a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </ul>
            </div>
        </div>
        <div class="navBottom">
            <h3 class="menuItem" th:each="product : ${products}" th:text="${product.productName}"></h3>
        </div>
    </nav>
    <div class="slider">
        <div class="sliderWrapper">
            <div th:each="product : ${products}" class="sliderItem">
                <img src="./img/compass.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle" th:text="${product.productName}"></h1>
                <h2 class="sliderPrice" th:text="${product.price}" style="color: white; border: none;"></h2>
                <a href="/product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="feature">
            <img src="./img/shipping.png" alt="" class="featureIcon">
            <span class="featureTitle">FREE SHIPPING</span>
            <span class="featureDesc">Free worldwide shipping on all orders.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="./img/return.png" alt="">
            <span class="featureTitle">30 DAYS RETURN</span>
            <span class="featureDesc">No question return and easy refund in 14 days.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="./img/gift.png" alt="">
            <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="./img/contact.png" alt="">
            <span class="featureTitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and support system.</span>
        </div>
    </div>

    <div class="product" id="product" th:each="product : ${products}">
        <img src="./img/compass.png" alt="" class="productImg">
        <div class="productDetails">
            <h1 class="productTitle" th:text="${product.productName}"></h1>
            <h2 class="productPrice" th:text="${product.price}"></h2>
            <button class="productButton">BUY NOW!</button>
        </div>
    </div>

    <div class="gallery">
        <div class="galleryItem">
            <h1 class="galleryTitle">Be Yourself!</h1>
            <img src="https://compass-ecom-bucket.s3-ap-southeast-1.amazonaws.com/images/373x500/1ad85550d5323684ae94aa436d336ff9acb84f70.jpg"
                alt="" class="galleryImg">
        </div>
        <div class="galleryItem">
            <img src="https://bro.do/cdn/shop/files/6_db6092fb-3fef-4d66-8abe-9bfc3172e3a4_540x.jpg?v=1700477793"
                alt="" class="galleryImg">
            <h1 class="galleryTitle">This is the First Day of Your New Life</h1>
        </div>
        <div class="galleryItem">
            <h1 class="galleryTitle">Just Do it!</h1>
            <img src="https://compass-ecom-bucket.s3-ap-southeast-1.amazonaws.com/images/373x500/54dbb2bdbd2a78d58810d2a1f3fc8939c1f0a47c.jpg"
                alt="" class="galleryImg">
        </div>
    </div>
    <div class="newSeason">
        <div class="nsItem">
            <img src="./img/footer2.jpg"
                alt="" class="nsImg">
        </div>
        <div class="nsItem">
            <h3 class="nsTitleSm">WINTER NEW ARRIVALS</h3>
            <h1 class="nsTitle">New Season</h1>
            <h1 class="nsTitle">New Collection</h1>
            <a href="#nav">
                <button class="nsButton">CHOOSE YOUR STYLE</button>
            </a>
        </div>
        <div class="nsItem">
            <img src="./img/footer.jpg"
                alt="" class="nsImg">
        </div>
    </div>
    <footer>
        <div class="footerLeft">
            <div class="footerMenu">
                <h1 class="fMenuTitle">About Us</h1>
                <ul class="fList">
                    <li class="fListItem">Company</li>
                    <li class="fListItem">Contact</li>
                    <li class="fListItem">Careers</li>
                    <li class="fListItem">Affiliates</li>
                    <li class="fListItem">Stores</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitle">Useful Links</h1>
                <ul class="fList">
                    <li class="fListItem">Support</li>
                    <li class="fListItem">Refund</li>
                    <li class="fListItem">FAQ</li>
                    <li class="fListItem">Feedback</li>
                    <li class="fListItem">Stories</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitle">Products</h1>
                <ul class="fList">
                    <li class="fListItem">Compass</li>
                    <li class="fListItem">Ventela</li>
                    <li class="fListItem">Brodo</li>
                    <li class="fListItem">Thanksinsomnia</li>
                    <li class="fListItem">Piero</li>
                </ul>
            </div>
        </div>
        <div class="footerRight">
            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
                <div class="fMail">
                    <input type="text" placeholder="your@email.com" class="fInput">
                    <button class="fButton">Join!</button>
                </div>
            </div>
            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="./img/facebook.png" alt="" class="fIcon">
                    <img src="./img/twitter.png" alt="" class="fIcon">
                    <img src="./img/instagram.png" alt="" class="fIcon">
                    <img src="./img/whatsapp.png" alt="" class="fIcon">
                </div>
            </div>
            <div class="footerRightMenu">
                <span class="copyright">@Lama Dev. All rights reserved. 2022.</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>
    <script>
        var currencyElements = document.getElementsByClassName("sliderPrice");
        for(var i = 0; i < currencyElements.length; i ++) {
            var currencyVal = parseFloat(currencyElements[i].innerText);
            var formattedCurrency = currencyVal.toLocaleString("id-ID", {
                style: "currency",
                currency : "IDR"
            });
            currencyElements[i].innerText = formattedCurrency;
        }
        var currencyProductElements = document.getElementsByClassName("productPrice");
        for(var i = 0; i < currencyProductElements.length; i ++) {
            var currencyVal = parseFloat(currencyProductElements[i].innerText);
            var formattedCurrency = currencyVal.toLocaleString("id-ID", {
                style: "currency",
                currency : "IDR"
            });
            currencyProductElements[i].innerText = formattedCurrency;
        }
    </script>
</body>

</html>